.container {
    color: black;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    font-family: "Poppins-SemiBold";
}

p,ul,li {
    font-size: 18px;
    font-weight: 900;
    font-family: "Courier New", Courier, monospace;
}


.file-container {
    width: 100%;
    padding-top: 20px;
    text-align: justify;
    max-width: 700px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.file-container input {
    width: 100%;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    padding: 0.6em 1.3em;
}

.searchInputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.searchInputBox {
    width: 100%;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    padding: 0.6em 1.3em;
}
.searchBtn {
    font-size: 18px;
    font-weight: 900;
    font-family: "Courier New", Courier, monospace;
}

/* JavaScript */
mark{
    background: yellow;
}

@media screen and (max-width: 600px) {
    .container{
        padding: 12vw;
    }
    .file-container input {
        font-size: 12px;
    }
    .searchInputBox {
        font-size: 12px;
    }
    p,ul,li{
        font-size: 14px;
    }
}
